body {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}
h4, h3 {
	margin: 0;
	padding: 0;
}
h3 {
    font-size: 1.2em;
}
hr {
	display: none;
}
p {
	margin:2px 2px;
}
a {
	color: white;
}
a:visited {
    color: #CCCCCC;
}
a:hover {
	color: white;
}
a:active {
    color: red;
}

body #pageContent {
	width: 800px;
	margin: 0 auto;
}
body #mainContent{
	border: 1px solid #66CCFF;
}