/*Styling for header*/
div#header {
	height: 120px;
	background: url("../images/banner.png") no-repeat left top;
}
div#header div#headerContent {
	margin: auto;
	position: relative;
	height: 120px;
	text-align: right;
	padding-top: 1px;
}
