body {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}
h4, h3 {
	margin: 0;
	padding: 0;
}
h3 {
    font-size: 1.2em;
}
hr {
	display: none;
}
p {
	margin:2px 2px;
}

body #pageContent {
	width: 800px;
	margin: 0 auto;
}
body #mainContent{
	border: 1px solid #66CCFF;
}

body #search {
	margin: 5px;
	text-align: right;
}
body form{
	margin: 0;
	padding: 0;
}

div.Login{
	margin: 0 auto;
	width: 250px;
	color: white;
	font-weight: bold;
	
}
div.Login div.LoginBox{
	margin: 50px 0px;
	border: 1px solid #66CCFF;
}

div.Login div.Header {
	height: 21px;
	background: url("../images/table-header.jpg") repeat-x left top;
	padding-left: 5px;
}
div.Login div.LoginBox div.Content{
	color: black;
	margin: 5px 5px;
}
div.Login div.LoginBox div.Content span{
	margin-right:5px;
}
div.Login div.LoginBox div.Content input{
	width: 185px;
	color: black;
	border: 1px solid #cccccc;
}
div.Login div.Footer {
	padding: 5px 5px;
	text-align:right;
	border-top: 1px solid #66CCFF;
}


div.AddNew{
	margin: 0 auto;
	width: 550px;
	color: white;
	font-weight: bold;
	
}
div.AddNew div.AddNewBox{
	margin: 50px 0px;
	border: 1px solid #66CCFF;
	overflow: hidden;
}

div.AddNew div.Header {
	height: 21px;
	background: url("../images/table-header.jpg") repeat-x left top;
	padding-left: 5px;
}
div.AddNew div.AddNewBox div.Content{
	color: black;
	margin: 5px 5px;
}
div.AddNew div.AddNewBox div.Content div{
	clear: both;
}
div.AddNew div.AddNewBox div.Content span.Text{
	display: block;
	margin: 5px 5px;
	float: left;
}
div.AddNew div.AddNewBox div.Content span.Input{
	display: block;
	margin: 0px 5px;
	float: right;
}
div.AddNew div.AddNewBox div.Content span.Input textarea {
	border: 1px solid #cccccc;
}
div.AddNew div.Footer {
	padding: 5px 5px;
	text-align:right;
	float: right;
}
div#simpleSearch span.Link{
	float:left;
}
div#simpleSearch span.Link a{
	text-decoration: none;
}
div#simpleSearch {
	height: 30px;
}
div#simpleSearch img{
	border:none;
}

div.Search{
	margin: 0 auto;
	width: 550px;
	color: white;
	font-weight: bold;
	
}
div.Search div.SearchBox{
	margin: 50px 0px;
	border: 1px solid #66CCFF;
	overflow: hidden;
}

div.Search div.Header {
	height: 21px;
	background: url("../images/table-header.jpg") repeat-x left top;
	padding-left: 5px;
}
div.Search div.SearchBox div.Content{
	font-weight:normal;
	color: black;
	margin: 5px 5px;
}
div.Search div.SearchBox div.Content div{
	clear: both;
}
div.Search div.SearchBox div.Content span.Text{
	display: block;
	margin: 5px 5px;
	float: left;
	width: 200px;
}
div.Search div.SearchBox div.Content span.Input{
	display: block;
	margin: 0px 5px;
	float: right;
	width: 300px;
}
div.Search div.SearchBox div.Content span.Input input.Full {
	border: 1px solid #cccccc;
	width: 295px;
}
div.Search div.SearchBox div.Content div.Footer{
	border-top: 1px solid #66CCFF;
}
div.Search div.SearchBox div.Content div.Footer span.Input {
	text-align: left;
	margin: 5px;
}
